body{
    background-color: rgb(217, 218, 219);
}
.header{
    background-color: white;
}
#titre{
    text-align: left;
}
.row{
    display: grid;
    grid-template-columns: 50% 1fr;
}


.button{
    grid-column-start: 2;
    grid-column-end: 3;

    border-radius: 5px;

    margin: auto;

    background-color: red;
    color: white;
    
}

ul{
    list-style-image: url("/images/bullet.png");
}